
.contact{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
    color: black;
}
.contact-info{
    color: black;
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
}

.welcome{
    margin-top: 5%;
    margin-left: 25%;
    padding-bottom: 1%;
    width: 50%;
    height: 20%;
    background: linear-gradient(247.27deg, #19CBD7 17.98%, rgba(18, 244, 136, 0.92) 185.62%);
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.welcome img{
    margin-left: 75%;
    margin-top: -13%;
    width: 200px;
    height: 200px;

}

.welcome-msg{
    margin-left: 3%;
    margin-bottom: 10%;
    color: white;
}

.welcome-msg p{
    font-size: medium;
    font-style: italic;
    margin: auto;
}

.main-container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    margin-bottom: 0%;
}


/* .navbar{
    float: left;
    display: flex;
    margin-left: 20px;
    flex: 1;
    justify-content: space-between;
    align-self: center;
    
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: red;
} */

.details1{
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}
.Profile-Picture1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 3%;
}

.details2{
    text-align: right;
    display: flex;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5%;
}
.Profile-Picture2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: 3%;
    margin-right: 10%;
}




/* scrolled vedios */

.vedios{
    margin: 5%;
    padding-bottom: 3%;
    display: block;
    width: 90%;
    overflow-x: scroll;
}

.vedioslider{
    display: block;
    white-space: nowrap;
}

.vedio-container{
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.vediobox{
    width: 300px;
    height: 200px;
    background: #1B1B1B;
    border-radius: 40px;
}

.pla{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background: gray;
    margin-left: 80%;
    margin-top: 40%;
}

.discription{
    color: white;

    padding-top: 5%;
    margin-left: 5%;
    font-size: large;
    font-style: italic;

}
/* scrolled vedios end */


.portions{
    padding: 5%;
}

.portions h2 ,.portions p {
    background: rgba(27, 27, 27, 0.6);
    border-radius: 40px 40px 40px 5px;
    /* margin-right:60%; */
    padding: 3%;
    color: white;
}
.portions p {
    font-size: large;
}

.syllabus{
    margin-left: 15%;
    margin-right: 15%;
    /* padding-top: 2%; */
}

.syllabus object{
    width: 100%;
    height: 1000px;
}

.links{
    margin-left: 60%;
    /* margin-right:60%; */
    padding: 3%;
    font-size: large;
    font-style: italic;
    text-decoration: none;
    background: rgba(27, 27, 27, 0.6);
    border-radius: 40px 40px 5px 40px;
    color: white;
}
.links a{
    text-decoration:none;
    color: white;
}

footer {
    /* margin-left: 45%; */
    text-align: center;
    width: 100%;
}

.yt-container{
    /* margin: 4% 10% 0% 10%; */
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 400px 400px 400px;
    grid-gap: 0px;
}

/* main-scrollbar-mod */
*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media only screen and (max-width: 1300px)
{
    .syllabus{
        /* margin-left: 0%; */
        padding-top: 5%;
    }
    .syllabus object{
        width: 100%;
        height: 1000px;
    }
}

@media only screen and (max-width: 500px)
{   *{
        margin: 0;
        padding: 0;
    }
    .syllabus{
        /* margin-left: 0%; */
        padding-top: 5%;
        margin-bottom: 5%;
        text-align: center;
    }

    .syllabus object{
        width: 100%;
        height: 100%;
    }
    .contact{
        display: flex;
        flex: 1;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3%;
        color: black;
    }
    .contact a{
        display: none;
    }

    .welcome{
        margin-top: 30%;
        margin-left: 0%;
        padding-bottom: 1%;
        width: 100%;
        height: 80%;
        background: linear-gradient(247.27deg, #19CBD7 17.98%, rgba(18, 244, 136, 0.92) 185.62%);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0px;
    }
    .welcome img{
        margin-left: 27%;
        margin-top: -30%;
        width: 200px;
        height: 200px;
    
    }
    
    .welcome-msg{
        text-align: center;
        margin-left: 0%;
        margin-bottom: 10%;
        color: white;
        
    }
    .welcome-msg p{
        font-size: 18px; 
        font-style: italic;
        margin: 4%;
    }
    .welcome-msg h1{
        font-size: 25px;
    }

    .details1,.details2{
        display: flex;
        flex: 1;
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .vedios{
        display: none
    }
    .Profile-Picture1{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-left: 5%;
        margin-right: 3%;
        margin-bottom: 20px ;
    }
    .Profile-Picture2{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-left: 5%;
        margin-right: 3%;
        margin-bottom: 20px ;
    }

    footer{
        /* margin-left: 30%; */
        text-align: center;
    }

    .links{
        margin: 5%;
        padding: 15%;
        font-size: 20px;
        font-style: italic;
        text-decoration: none;
        background: rgba(27, 27, 27, 1);
        border-radius: 40px 40px 5px 40px;
        color: white;
    }
    .links a{
        text-decoration:none;
        color: white;
    }

    .portions{
        padding-top: 4%;
        background: black;

    }
    
    .portions h2 ,.portions p {
        background: rgba(27, 27, 27, 1);
        border-radius: 40px 40px 40px 5px;
        margin: 5%;
        padding: 15%;
        color: white;
    }
    .portions p {
        font-size: large;
    }

    .yt-container{
        /* margin: 4% 10% 0% 10%; */
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 150px 150px 150px;
        grid-gap: 0px;
    }

   
    
}
